##Pandas의 특징
- 쉬운 결손값(missing data) 처리
- 레이블 위치를 자동적/명시적으로 처리한 데이터 작성
- 데이터 집약
- 고도의 레이블 베이스의 슬라이싱 추출, 큰 데이터 세트의 서브세트화
- 직감적인 데이터세트 결합
- 데이터 세트의 유연한 변환 및 변형
- 축의 계층적 레이블 붙임
- 여러가지 데이터 형식에 대응한 강력한 I/O
- 시계열 데이터의 고유한 처리

In [2]:
import os

base_url = 'http://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

print(anime_csv)

http://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/anime.csv

In [3]:
import pandas as pd

anime_csv = os.path.join(base_url,'anime.csv')
#head():view first 5line
pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
anime_split_genre_csv = os.path.join(base_url,'anime_split_genre.csv')
pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [6]:
anime_stock_price_csv = os.path.join(base_url, 'anime_stock_price.csv')
pd.read_csv(anime_stock_price_csv, index_col =0, parse_dates=['Date']).head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

#Series 
Series는 인덱스라 불리는 레이블을 가진 동일한 데이터형을 가지는 1차원 데이터
- 인덱스(레이블)을 가지는 1차원 데이터
- 인덱스는 중복 가능
- 레이블 또는 데이터의 위치를 지정한 추출 가능. 인덱스에 대한 슬라이스가 가능
- 산술 연산이 가능. 통계량을 산출하는 메리트를 가지고 있음

In [7]:
import pandas as ad

ser = pd.Series([1,2,3], index=['a','b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [8]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [9]:
#Series.loc = 레이블에서 데이터 선택
ser.loc['b']

2

In [10]:
ser['b']

2